* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.hero-title {
    background-color: rgba(17, 207, 61, 0.324);
    text-align: center;
    font-size: 35px;
    padding: 8px;
    margin-left: 20px;
    margin-right: 20px;
}

a {
    color: black;
}

a:hover {
    color: rgba(57, 192, 57, 0.811);
}

h2 {
    background-color: rgba(141, 134, 134, 0.324);
    text-align: center;
}

div#img {
    text-align: center;
    margin-bottom: 8px;
}

.home-img {
    height: auto;
    width: 600px;
}

.border {
    height: 5px;
    width: 750px;
    background-color: black;
    margin: auto;
}

ul {
    padding: 10px;
    list-style-type: none;
    text-align: center;
}

.emoji {
display: inline-block;
padding-right: 10px;
}

div.foot-link {
    text-align: center;
    padding-top: 30px;
}

